*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* CUSTOM PROPERTIES */
:root{
    --height-footer: 60px;
}

/* COMMON */
.container{
    width: 90%;
    height: 90%;
}
.scroolbar{
    overflow-y: auto;
    height: 90%;
}

.flex{
    display: flex;
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
.green{
    color: #45aa12;
}
/* MAIN VIEWPOERT */
.viewport{
    width: 100%;
    height: calc(100vh - var(--height-footer) );
    background-color: black;
}

.viewport.flex{
    justify-content: center;
    align-items: center;
}

.container.flex{
    align-items: center;
}

    /* CARDS */

.cards-row.flex{
    flex-wrap: wrap;
    gap: 1px;
    row-gap: 5px;
    justify-content: center;
    
    
}
.cards-col{
    width: calc(99% / 7);
    background-color: beige;
}
.cards-col .img{
    display: block;
}


/* NOME */
.cards-col .nome{
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    min-width: 40%;
}

.nome.absolute{
    bottom:0;
    left: 0;
}



/* FOOTER */
footer{
    width: 100%;
    height: var(--height-footer);
    background-color: #222222;
}
footer.flex{
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;
}
footer li{
    margin: 5px;
    color: white;
}

/* STRUMENT */
 .icona.relative{
    left:20%;
    top:0;
 }
.strument{
    padding-left: 10px;
}
 .icona{ 
    font-size: 1.5rem;
 }

 .descrizione{
    font-size: .8rem;
 }
.angle.flex{
    align-items: center;
    padding-left: 10px;
}

.end{
    font-size: .8rem;
    color: #c93645;
    width: 70px;
    height: 50px;
    line-height: 50px;
    background-color: #4a4a4a;
}

